 * {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
    margin-top: 70px;
}


a {
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 5px 10px;
}

.logo {
    width: 40%;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar {
    display: none;
}

.navbar li:hover {
    color: #eed740;
    transition: .5s;
    cursor: pointer;
}

.redes {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.redes img {
    width: 20px;
}

.redes button {
    border: none;
    background-color: transparent;
}

.a-redes:hover {
    color: #eed740;
    transition: .5s;
}

@media (min-width : 800px) {
    .logo {
        margin-left: 75px;
    }
    .redes {
        width: 20%;
        margin-right: 75px;
    }
}

@media (min-width: 1025px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .navbar li {
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    .logo {
        width: 25%;
        margin-left: 150px;
    }

    .redes {
        width: 20%;
        margin-right: 150px;
    }

    .redes button {
        display: none;
    }
}

.section1 {
    background-color: #eed740;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    margin-top: 50px;

}

.fondo-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.freelance {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.freelancer {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.developer {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    border-right: 6px solid black;
    width: 400px;
    animation: escribir 1.5s steps(36), parpadeo 2s infinite alternate;
    overflow: hidden;
    color: #212529;
}

@keyframes escribir {
    from { width: 0 }
}

@keyframes parpadeo {
    50% {
        border-color: transparent;
    }
}


.freelance-buttons button {
    width: 150px;
    border: none;
}

.freelance-buttons button svg {
    position: relative;
    top: 5px;
}

.trabajo {
    background-color: #212529;
    color: white;
    border-radius: 2px;
    padding: 10px;
}

.trabajo:hover {
    cursor: pointer;
    background-color: rgb(36, 33, 33);
    transition: .5s;
}

.contacto {
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
}

.contacto:hover {
    cursor: pointer;
}

.contacto img {
    position: relative;
    top: 3px;
}

.bi-arrow-down {
    margin: 25px 0px;
    animation: rebote 1s infinite;
}

@keyframes rebote {
    50% {
        position: relative;
        top: 5px;
    }
}





@media (min-width: 750px){
    .section1 {
        height: 100%;
    }
    .freelancer {
        font-size: 2rem;
    }
    .developer {
        font-size: 4rem;
    }

    .fondo-img {
        width: 400px;
        height: 400px;
    }

    .fondo-img img {
        width: 400px;
        height: 400px;
    }

}

@media (min-width:1200px){
    .section1 {
        height: 100%;
    }
    .fondo-img {
        order: 1;
        margin-left: 200px;
        margin-bottom: 50px;
        height: 500px;
        width: 500px;
    }

    .fondo-img img {
        width: 500px;
        height: 500px;
    }

    .section1-container {
        flex-direction: row;
    }

}

.sobre-mi-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sobre-mi {
    background-color: #eed740;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 100px;
}

.conoceme {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #212529;
}

.descripcion-y-experiencia{
    margin-top: 30px;
}
.descripcion {
    text-align: center;
    padding: 0px 20px;

}

.descripcion span {
    font-size: 1.3rem;
}

.descripcion span span {
    font-weight: bold;
    border-bottom: 3px #eed740 solid;
    font-size: 1.5rem;
}

.descripcion p {
    margin-top: 20px;
    line-height: 30px;
}
.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.experiencia div{
    background-color: #eed740;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 25px;
    width: 70px;
}

.experiencia div span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 4rem;
    color: #212529;
}

.experiencia span span {
    font-weight: bold;
}

.mi-informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 25px 0px;
}

.mi-informacion div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.mi-informacion div label {
    margin-bottom: 10px;
}

.mi-informacion div span {
    font-weight: bold;
}


@media (min-width: 700px) {
    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .experiencia div {  
        width: 80px;
        height: 80px;
        
    }

    .experiencia div span  {
        font-size: 10rem;
        position: relative;
        top: -50px;
        left: -3px;
    }
    .sobre-mi {
        margin-top: 0px;
    }

    .descripcion p {
        padding: 0px 100px;
    }

    .mi-informacion {
        margin-left: 150px;
    }
}

@media (min-width: 1240px) {
    .descripcion-y-experiencia {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        width: 60%;
    }

    .descripcion {
        text-align: start;
    }

    .descripcion p {
        text-align: start;
        padding: 0;
    }
    
    .experiencia {
        width: 80%;
        margin-bottom: 25px;
    }

    .experiencia div {
        width: 40px;
        height: 40px;
    }

    .experiencia div span {
        font-size: 7rem;
        position: relative;
        top: -45px;
        left: -3px;
    }

    .mi-informacion div {
        display: flex;
        flex-direction: column;

    }
    
    .mi-informacion {
        grid-template-columns: repeat(4, 1fr);

    }

    .sobre-mi {
        margin-top: 50px;
    }

    .conoceme {
        margin-bottom: 0px;
    }
}

.section3 {
    background-color: whitesmoke;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyecto {
    font-size: 2.5rem;
    width: 350px;
    text-align: center;
    font-weight: bold;
    
}

.ayuda-proyecto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

.card {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    line-height: 25px;
}

.card svg {
    color: #eed740;
    margin-bottom: 10px;
}

@media (min-width:750px){
    .ayuda-proyecto {
        grid-template-columns: repeat(2, 1fr);
    }

    .proyecto {
        width: 800px;
    }
}

@media (min-width:1250px){
    .ayuda-proyecto {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        margin: 25px;
    }


}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resumen-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

.educacion {
    border-left: 3px solid #eed740;
    margin-left: 10px;
    margin-top: 25px;
}

.educacion-h {
    margin-left: 5px;
}

.udemy {
    margin: 15px 15px;
    line-height: 25px;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;
}

.skill-h3 {
    justify-content: start;
    margin-left: 10px;
}

.button-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.button-cv button {
    border: 2px solid black;
    background-color: white;
    padding: 10px 25px;
    color: black;
}

.button-cv button:hover {
    background-color: #212529;
    transition: 1s;
    cursor: pointer;
    color: white;
}

.skills-contenedor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.contenedor-range {
    display: flex;
    justify-content: space-between;
}

.contenedor-range span {
    font-weight: bold;
}

.contenedor-porcentaje {
    width: 100%;
    height: 7px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.contenedor-porcentaje div {
    height: 7px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #eed740;
}

.html {
    width: 100%;
}

.css {
    width: 95%;
}

.python {
    width: 75%;
}

.javascript {
    width: 50%;
}

.react {
    width: 5%;
}

.diseño {
    width: 60%;
}

@media (min-width: 700px){   

    .section4 {
        padding: 0 50px;
    }

    .skills-contenedor {
        grid-template-columns: repeat(2, 1fr);
    }

    .resumen-contenedor {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }

    .skills {
        width: 80%;
    }
    
    .button-cv {
        margin-top: 50px;
    }

}

@media (min-width: 1400px){
    .section4 {
        padding: 0 250px;

    }

    .resumen-contenedor {
        width: 70%;
    }

    .skills {
        padding: 0 150px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}

.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.contenedor-proyecto-imagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 25px 0px;
}

.contenedor-proyecto-imagenes img {
    width: 350px;
    height: 350px;
    margin: 5px;
}

@media (min-width: 750px) {
    .contenedor-proyecto-imagenes {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-proyecto-imagenes img {
        width: 375px;
        height: 375px;
        margin: 10px;
    }
}

@media (min-width: 1200px){
    .contenedor-proyecto-imagenes {
        grid-template-columns: repeat(3, 1fr);
    }
    .contenedor-proyecto-imagenes img {
        width: 375px;
        height: 375px;
        margin: 15px;
    }
}

.footer {
    background-color: #eed740;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contenedor {
    display: flex;
    flex-direction: column;
}

.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-contacto {
    margin-top: 50px;
}

.disfruto {
    padding: 0px 30px;
    margin-bottom: 15px;
}

.viviendo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.viviendo h4 {
    font-weight: bold;
    margin: 10px 0px;
}

.viviendo span {
    margin-bottom: 10px;
}

.llamada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.llamada h4 {
    font-weight: bold;
    margin: 10px 0px;
}

.redes-footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.redes-footer a {
    margin: 25px 15px;
    color: #212529;
}

.redes-footer a:hover {
    color: white;
    transition: 1s;
}

.footer2 {
    margin-top: 50px;
}

.footer2 h3 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 0px 15px
}

.form div label {
    margin-bottom: 10px;
}

.form div input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dfc838;
}

.form div textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dfc838;

}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-enviar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #212529;
    color: white;
    width: 100px;
    height: 40px;
    padding: 5px 15px;
}

.footer-enviar:hover {
    cursor: pointer;
    background-color: rgb(14, 11, 11);
    transition: 0.3s;
}

.footer-enviar svg {
    margin-left: 7px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #212529;
}

.copy1 {
    display: flex;
    color: white;
    margin: 25px 0px;
    text-align: center;
}

.copy1 span span {
    color: #eed740;
    text-decoration: underline;
}

.copy2 {
    display: flex;
    color: white;
    margin-bottom: 25px;
}

.copy2 span span {
    color: #eed740;
    text-decoration: underline;
}

@media (min-width:750px) {
    .disfruto {
        width: 50%;
        text-align: center;
        margin-bottom: 50px;
    }

    .form div {
        padding: 0px 100px;
    }
    
    .redes-footer {
        margin-top: 50px;
    }

    .footer-contenedor {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .footer-contenedor {
        flex-direction: row;
        justify-content: center;
        width: 65%;
    }

        
    .footer1 {
        justify-content: start;
        align-items: flex-start;
    }

    .copyright {
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }

    .copy1, .copy2 {
        margin: 0;
    }

    .llamada {
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 25px;
    }

    .viviendo {
        justify-content: start;
        align-items: flex-start;
    }

    .llamada h4, .viviendo h4 {
        margin-bottom: 10px;
    }

    .llamada span, .viviendo span {
        padding: 0;
    }

    .disfruto {
        text-align: start;
        padding: 0;
        margin-top: 25px;
        width: 75%;
    }

    .redes-footer {
        justify-content: start;
        align-items: flex-start;
        margin: 0;
    }

    .redes-footer a {
        margin-left: 0;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .footer2 h3{
        text-align: start;
    }

    .form div {
        padding: 0px;
    }

    .form div input {
        width: 600px;
    }
    
} 